body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 100px 3fr 3fr 3fr;

  grid-template-columns: 3fr 3fr 3fr;

  background-color: rgb(240, 222, 206);
  border: 1px solid rgb(204, 155, 112);
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  height: 100%;
}
.item {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid rgb(204, 155, 112);
  border-right: 1px solid rgb(204, 155, 112);
  justify-content: center;
}
.item1 {
  text-align: center;
  grid-row: span 1;
  grid-column: span 3;
  font-weight: 800;
  font-size: 30px;
  padding-top: 10px;
  border-bottom: 2px solid rgb(204, 155, 112);
}
.num {
  /*border: 1px solid rgb(204, 155, 112);*/
  border-radius: 50%;
  background-color: rgb(204, 155, 112);
}
