:root {
  --text: #fff;
  --background: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Aulian;
  src: url(aulian.ttf);
}

@font-face {
font-family: SpaceAge;
src: url(space-age.ttf);
}

html { 
  scroll-behavior: smooth;
}  

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-spacing: 1.4px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: var(--text);
  background-color: var(--background);
  overflow-x: hidden;
  /* border: 1px solid blue; */
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  background-color: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: brown;
  border-radius: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  text-underline-offset: 10px;
}

a:hover {
  color: brown;
  text-decoration-line: underline;
  font-weight: 900;
}

h1 {
  margin-bottom: 10px;
}

p {
  text-align: center;
}

ul {
  display: flex;
}

li {
  display: inherit;
  margin-right: 30px;
  margin-top: 48px;
  letter-spacing: 6px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: SpaceAge,'Courier New', Courier, monospace;
  font-size: 100px;
  text-shadow: 5px 5px black;
}

.menu {
  text-decoration: none;
  font-family: SpaceAge;
  font-size: 20px;
  margin-right: 12px;
}

.item {
  background-color:rgba(255, 255, 255, 0);
}

.item-2 {
  position: relative;
  overflow: visible;
}

.item-2::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -69%;
  left: -30%;
  z-index: -1;
  background: url(mars-header.jpeg) 0 0 no-repeat;
  transform: rotate(320deg);
}

.item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: brown;
  border-radius: 50px;
  border: 10px double black;
  padding: 0 40px;
  text-shadow: 0px 0px 7px #000;
}

.item-4 {
  position: relative;
  overflow: visible;
}

.item-4::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 500px;
  bottom: 2%;
  left: 43.6%;
  z-index: -1;
  background: url(solarsystem.jpg) 0 0 no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
}

.item-5 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color:black;
  border-radius: 25px;
  border: 8px solid brown;
  width: 1000px;
  height: 50px;
  margin-top: 50px;
  font-family: Aulian;
  font-size: 41px;
  overflow-y: visible;
  z-index: 1;
}

.item-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
  border: 10px double black;
  width: 960px;
  height: 2000px;
  overflow-y: visible;
}

.rover {
  width: 200px;
  position: relative;
  left: -37%;
  top: -100%;
}