:root {
  --text: #fff;
  --background: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Aulian;
  src: url(aulian.ttf);
}

@font-face {
  font-family: SpaceAge;
  src: url(space-age.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-spacing: 1.4px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: var(--text);
  background-color: var(--background);
  overflow-x: hidden;
  /* border: 1px solid blue; */
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  background-color: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: brown;
  border-radius: 100%;
}

a {
  background-image: linear-gradient(
    to right,
    brown,
    brown 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}

a:before{
  content: '';
  background: brown;
  display: block;
  position: relative;
  bottom: -30px;
  left: -4px;
  width: 0;
  height: 3px;
  transition: all 0.5s ease-in-out;
}

a:hover {
 background-position: 0;
 font-weight: 900;
}

a:hover::before{
  width: 100%;
}

h1 {
  margin-bottom: 10px;
}

p {
  text-align: center;
}

ul {
  display: flex;
}

li {
  display: inherit;
  margin-right: 30px;
  margin-top: 48px;
  letter-spacing: 6px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: SpaceAge, "Courier New", Courier, monospace;
  font-size: 100px;
  text-shadow: 5px 5px black;
}

.menu {
  text-decoration: none;
  font-family: SpaceAge;
  font-size: 20px;
  text-shadow: none;
  margin-right: -14px;
}

.item {
  background-color: rgba(255, 255, 255, 0);
}

.item-2 {
  position: relative;
  overflow: visible;
}

.item-2::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -69%;
  left: -30%;
  z-index: -1;
  background: url(mars-header.jpeg) 0 0 no-repeat;
  transform: rotate(320deg);
}

.item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: brown;
  border-radius: 50px;
  border: 10px double black;
  padding: 0 40px;
  text-shadow: 0px 0px 7px #000;
}

/* .item-4 {
  position: relative;
  overflow: visible;
}

.item-4::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 500px;
  bottom: 2%;
  left: 43.6%;
  z-index: -1;
  background: url(solarsystem.jpg) 0 0 no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
  border: 3px solid red;
} */

.item-4 {
  position: relative;
  overflow: visible;
}

.item-4::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 300px;
  bottom: -26%;
  left: 43.8%;
  z-index: -1;
  background: url(solarsystem.jpg) 0 0 no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
}

.item-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-radius: 25px;
  border: 8px solid brown;
  width: 1000px;
  height: 50px;
  margin-top: 50px;
  padding-bottom: 7px;
  padding-right: 7px;
  font-family: SpaceAge;
  font-size: 50px;
  overflow-y: visible;
  z-index: 1;
}

.item-6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: brown;
  border: 10px double black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 960px;
  height: auto;
  overflow-y: hidden;
}

.item-7 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  border-radius: 25px;
  border: 8px solid brown;
  width: 1000px;
  height: 50px;
  margin-top: 50px;
  padding-bottom: 7px;
  padding-left: 7px;
  font-family: SpaceAge;
  font-size: 50px;
  overflow-y: visible;
  z-index: 1;
}

.item-8 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: brown;
  border: 10px double black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 960px;
  height: auto;
  overflow-y: hidden;
}

.rover {
  width: 200px;
}

.boxrocket{
  height: 208px;
  position: relative;
  overflow: hidden;
  left: 40px;
  top: -320%;
}

.fade-in {
  animation: rocket-fadein ease-in-out 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-duration: 2s;
  animation-delay: 1s;
}
@keyframes rocket-fadein {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0%);
   }
}

.test {
  display: flex;
  justify-content: end;
  align-items: center;
}

.p1 {
  margin-top: 100px;
  margin-left: -7px;
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 100%;
}

.p2 {
  margin-top: 92px;
  margin-left: 9px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 100%;
}

.p3 {
  margin-top: 95px;
  margin-left: 45px;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 100%;
}

.p4 {
  margin-top: 82px;
  margin-left: 93px;
  width: 54px;
  height: 54px;
  border: 0;
  border-radius: 100%;
}

.p5 {
  margin-top: 76px;
  margin-left: 168px;
  width: 70px;
  height: 70px;
  border: 0;
  border-radius: 100%;
}

.p6 {
  margin-top: 103px;
  margin-left: 243px;
  width: 14px;
  height: 14px;
  border: 0;
  border-radius: 100%;
}

.p7 {
  margin-top: 99px;
  margin-left: 262px;
  width: 26px;
  height: 26px;
  border: 0;
  border-radius: 100%;
}

.p8 {
  margin-top: 98px;
  margin-left: 296px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 100%;
}

.p9 {
  margin-top: 108px;
  margin-left: 332px;
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 100%;
}

.p0 {
  margin-top: 38px;
  margin-left: 355px;
  width: 150px;
  height: 150px;
  border: 0;
  border-radius: 100%;
}

.pline {
  background-color: brown;
  margin-top: -3px;
  margin-left: 249px;
  width: 2px;
  height: 86px;
}

.pline::after {
  content: "";
  position: relative;
  top: 102%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: brown transparent transparent transparent;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: brown;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 3px 3px 6px black;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: calc(100% + 7px);
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: brown transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity ease-in 0.5s;
}



/* JAYA_K Code ------------------------------------------------- */

.containerJAYA {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  max-width: 1100px;
  min-height: 1000px;
  margin: 0 auto;
  align-items: center;
  background-color: rgb(42, 41, 41);
}

.img1JAYA {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
  box-shadow: -60px -60px 15px rgb(214, 175, 141), 2px 2px 15px rgb(9, 9, 9);
}
.img2JAYA {
  position: absolute;
  left: 200px;
  top: 300px;
  box-shadow: 60px 60px 15px rgb(214, 175, 141);
}
.infoJAYA {
  padding: 0 50px;
  text-align: center;
  width: 30%;
  
  color: aliceblue;
 
}


.containerJAYA2 {
  display: grid;
  grid-template-rows: 100px 3fr 3fr 3fr;

  grid-template-columns: 3fr 3fr 3fr;

  background-color: rgb(240, 222, 206);
  border: 1px solid rgb(204, 155, 112);
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  height: 100%;
}
.itemJAYA2 {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid rgb(204, 155, 112);
  border-right: 1px solid rgb(204, 155, 112);
  justify-content: center;
}
.item1JAYA2 {
  text-align: center;
  grid-row: span 1;
  grid-column: span 3;
  font-weight: 800;
  font-size: 30px;
  padding-top: 10px;
  border-bottom: 2px solid rgb(204, 155, 112);
}
.numJAYA2 {
  /*border: 1px solid rgb(204, 155, 112);*/
  border-radius: 50%;
  background-color: rgb(204, 155, 112);
}