* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sec4imgcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  min-width: 400px;
  gap: 20px 20px;
  margin: 0 auto;
  justify-content: center;
}

.sec4img-wrap {
  position: relative;
  width: 400px;
  height: 400px;
}
.sec4img-cls {
  display: block;
  width: 400px;
  height: 300px;
}
.sec4img-des {
  position: absolute;
  inset: 0;
  /*background: rgba(6, 6, 6, 0.72);*/
  opacity: 0;

  /* transition effect. not necessary */
  transition: 0.5s, linear;
}
.sec4img-wrap:hover .sec4img-des {
  opacity: 1;
  background-color: rgb(16, 16, 16);
}
.sec4text {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}
