/* ---------------------------------------- ROOT ELEMENTS */
:root {
  --text: #fff;
  --color: rgb(165, 42, 42);
  --colorblue: rgb(0, 124, 226);
  --coloryellow: rgb(209, 171, 0);
  --colorgreen: rgb(48, 121, 0);
  --background: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: SpaceAge;
  src: url(space-age.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-spacing: 1.4px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: var(--text);
  background-color: var(--background);
  overflow-x: hidden;
}

/* -------------------------------------------- SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 5px;
}


/* ------------------------------------------------- LINK */
a {
  background-image: linear-gradient(
    to right,
    var(--color),
    var(--color) 50%,
    var(--text) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}

a:before{
  content: '';
  background: var(--color);
  display: block;
  position: relative;
  bottom: -30px;
  left: -4px;
  width: 0;
  height: 3px;
  transition: all 0.5s ease-in-out;
}

a:hover {
 background-position: 0;
 font-weight: 900;
}

a:hover::before{
  width: 100%;
}


/* ------------------------------------ STANDARD ELEMENTS */
h1 {
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin: 20px 0 6px 0;
}

h4:after {
  content: ' \21E1';
}

p {
  text-align: center;
}

ul {
  display: flex;
  gap: 36px;
}

li {
  display: inherit;
  margin-top: 48px;
  letter-spacing: 6px;
}


/* ----------------------------------------------- LAYOUT */
.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: SpaceAge, "Courier New", Courier, monospace;
  font-size: 100px;
  text-shadow: 5px 5px #000;
}

.menu {
  text-decoration: none;
  font-family: SpaceAge;
  font-size: 20px;
  text-shadow: none;
  margin-right: -7px;
}

.item {
  background-color: rgba(255, 255, 255, 0);
}

.item-2 {
  position: relative;
  overflow: visible;
}

.item-2::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -69%;
  left: -30%;
  z-index: -1;
  background: url(mars-header.jpeg) 0 0 no-repeat;
  transform: rotate(320deg);
}

.item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--color);
  border-radius: 50px;
  border: 10px double var(--background);
  padding: 0 40px;
  text-shadow: 0px 0px 7px #000;
}

.item-4 {
  position: relative;
  overflow: visible;
}

.item-4::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 300px;
  bottom: -26%;
  left: 43.8%;
  z-index: -1;
  background: url(solarsystem.jpg) 0 0 no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
}

.item-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  border-radius: 25px;
  border: 8px solid var(--color);
  width: 1000px;
  height: 50px;
  margin-top: 50px;
  padding-bottom: 7px;
  padding-right: 7px;
  font-family: SpaceAge;
  font-size: 50px;
  overflow-y: visible;
  z-index: 1;
}

.item-6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--color);
  border: 10px double var(--background);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 960px;
  height: auto;
  overflow-y: hidden;
}

.item-7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  border-radius: 25px;
  border: 8px solid var(--color);
  width: 1000px;
  height: 50px;
  margin-top: 50px;
  padding-bottom: 7px;
  padding-left: 7px;
  font-family: SpaceAge;
  font-size: 50px;
  overflow-y: visible;
  z-index: 1;
}

.item-8 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--color);
  border: 10px double var(--background);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 960px;
  height: auto;
  overflow-y: hidden;
}

.item-9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  border-radius: 25px;
  border: 8px solid var(--color);
  width: 1000px;
  height: 50px;
  margin-top: 50px;
  padding-bottom: 7px;
  padding-right: 7px;
  font-family: SpaceAge;
  font-size: 50px;
  overflow-y: visible;
  z-index: 1;
}

.item-10 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--color);
  border: 10px double var(--background);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 960px;
  height: auto;
  overflow-y: hidden;
}

.rocket {
  width: 200px;
}

.boxrocket{
  height: 208px;
  position: relative;
  overflow: hidden;
  left: 40px;
  top: -320%;
}

.fade-in {
  animation: rocket-fadein ease-in-out 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-duration: 2s;
  animation-delay: 1s;
}
@keyframes rocket-fadein {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0%);
   }
}

.book {
  width: 200px;
}

.boxbook{
  height: 160px;
  position: relative;
  overflow: hidden;
  right: 40px;
  top: -80%;
}

.rover {
  width: 300px;
  transform: rotate(10deg);
}

.boxrover{
  height: 160px;
  position: relative;
  overflow: hidden;
  left: 2px;
  top: -70%;
}

.p1 {
  margin-top: 100px;
  margin-left: -7px;
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 100%;
}

.p2 {
  margin-top: 92px;
  margin-left: 9px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 100%;
}

.p3 {
  margin-top: 95px;
  margin-left: 45px;
  width: 24px;
  height: 24px;
  border: 0;
  border-radius: 100%;
}

.p4 {
  margin-top: 82px;
  margin-left: 93px;
  width: 54px;
  height: 54px;
  border: 0;
  border-radius: 100%;
}

.p5 {
  margin-top: 76px;
  margin-left: 168px;
  width: 70px;
  height: 70px;
  border: 0;
  border-radius: 100%;
}

.p6 {
  margin-top: 103px;
  margin-left: 243px;
  width: 14px;
  height: 14px;
  border: 0;
  border-radius: 100%;
}

.p7 {
  margin-top: 99px;
  margin-left: 262px;
  width: 26px;
  height: 26px;
  border: 0;
  border-radius: 100%;
}

.p8 {
  margin-top: 98px;
  margin-left: 296px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 100%;
}

.p9 {
  margin-top: 108px;
  margin-left: 332px;
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 100%;
}

.p0 {
  margin-top: 38px;
  margin-left: 355px;
  width: 150px;
  height: 150px;
  border: 0;
  border-radius: 100%;
}

.pline {
  background-color: var(--color);
  margin-top: -3px;
  margin-left: 249px;
  width: 2px;
  height: 86px;
}

.pline::after {
  content: "";
  position: relative;
  top: 102%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color) transparent transparent transparent;
}


/* -------------------------------------- PLANETS TOOLTIP */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--color);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 6px var(--background);
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: calc(100% + 10px);
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity ease-in 0.5s;
}


/* ----------------------------------------------- FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background);
  width: 1000px;
  height: auto;
  margin: 50px 0;
  font-size: 14px;
  overflow-y: visible;
  z-index: 1;
}

footer a:before{
  content: '';
  background: var(--color);
  display: block;
  position: relative;
  bottom: 2px;
  left: 0px;
  width: 0;
  height: 3px;
  transition: all 0.1s ease-in-out;
}

.clrbtn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clrbtn-container button {
  cursor: pointer;
  margin: 10px;
  height: 20px;
  border-radius: 25px;
  padding: 10px 11px;
  border: 0;
}

.redbtn {
  background-color: rgb(165, 42, 42);
}
.bluebtn {
  background-color: rgb(0, 124, 226);
}
.greenbtn {
  background-color: rgb(48, 121, 0);
}
.yellowbtn {
  background-color: rgb(209, 171, 0);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 28px;
  border: none;
  outline: none;
  background-color: var(--color);
  color: var(--text);
  cursor: pointer;
  padding: 12px 10px;
  border-radius: 25px;
}

#myBtn:hover {
  background-color: #555;
}


/* JAYA_K Code ------------------------------------------------- */
/*----------------***** section2 *****---------------------------*/
.containerJAYA {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  padding: 40px;
  margin: 0 auto;
  background-image: url(https://media.giphy.com/media/XeH46jGNhcnaySNyd1/giphy-downsized-large.gif);
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 3px 3px 2px var(--background);
}

.img1JAYA {
  position: absolute;
  top: 30%;
  left: 50px;
  z-index: 1;
  box-shadow: 4px 4px 15px var(--background);
}
.img2JAYA {
  position: absolute;
  left: 140px;
  top: 40%;
  box-shadow: 2px 2px 15px var(--background);
}
.infoJAYA {
  padding: 10px 0 10px 50px;
  width: 54%;
  color: var(--text);
}
/* -----------------**** section3 *****--------------------*/
.containerJAYA2 {
  display: grid;
  grid-template-rows: 10px 3fr 3fr 3fr;

  grid-template-columns: 3fr 3fr 3fr;

  background-color: var(--background);
  /* border: 1px solid rgb(4, 0, 255); */
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  height: 100%;
}
.itemJAYA2 {
  text-align: center;
  padding: 20px;
  /* border-bottom: 1px solid rgb(204, 155, 112);
  border-right: 1px solid rgb(204, 155, 112); */
  justify-content: center;
}
.item1JAYA2 {
  text-align: center;
  grid-row: span 1;
  grid-column: span 3;
  font-weight: 800;
  font-size: 30px;
  padding-top: 10px;
  /* border-bottom: 2px solid rgb(204, 155, 112); */
}
.numJAYA2 {
  /*border: 1px solid rgb(204, 155, 112);*/
  border-radius: 25px;  /*ERIK CODE*/
  background-color: var(--color);  /*ERIK CODE*/
  font-weight: 700;
}
/*  ------------ ***** section4 *****-----------*/
.sec4imgcontainer {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px;
  margin: 0 auto;
  padding: 20px; */
  justify-content: space-evenly;
  padding-bottom: 46px;
}

.sec4img-wrap {
  position: relative;
  width: 400px;
  height: 300px;
  margin-top: 46px;
  border-radius: 25px;  /*ERIK CODE*/
  box-shadow: 6px 6px 20px var(--background);
}
.sec4img-cls {
  display: block;
  width: 400px;
  height: 300px;
  border-radius: 25px;  /*ERIK CODE*/
}
.sec4img-des {
  position: absolute;
  inset: 0;
  /*background: rgba(6, 6, 6, 0.72);*/
  opacity: 0;

  /* transition effect. not necessary */
  transition: 1s, linear;
  transition: all ease-in-out 0.3s;  /*ERIK CODE*/
}
.sec4img-wrap:hover .sec4img-des {
  opacity: 1;
  border-radius: 25px;  /*ERIK CODE*/
  background-color: rgba(0, 0, 0, 0.7);
}
.sec4text {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: center;  /*ERIK CODE*/
  color: var(--text);  /*ERIK CODE*/
  text-align: center;
  padding: 30px;
}
